.error-position {
	display: inline-block;
	vertical-align: middle;
	color: fireBrick;
	padding-left: 3px;
	padding-right: 3px;
}

.error-position img {
	height: .8em;
}

.container {
	position: absolute;
	left: 0px;
	width: 100%;
}

.content {
	top: 3px;
	width: 30em;
	margin: 0 auto;
	background-color: #FEE;
	border: 2px solid #933;
	color: #933;
	padding: 20px;
	position: relative;
	box-shadow: #888 3px 3px 5px;
}

.close-error {
	background-image: url("resources/close-icon.gif");
	width: 16px;
	height: 16px;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}