body {
	margin-bottom: 23px;	
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 2em;
}

li {
	position: relative;
}

.hoverable {
	transition: background-color .2s ease-out 0s;
	display: inline-block;
}

.hovered {
	transition-delay: .2s;
}

.selected {
	outline-style: solid;
	outline-width: .1em;
	outline-style: dotted;
}

.collapsed>.collapsible {
	display: none;
}

.ellipsis {
	display: none;
}

.collapsed>.ellipsis {
	display: inherit;
}

.collapser {
	position: absolute;
	top: .1em;
	left: -1.4em;
	cursor: default;
	user-select: none;
}

.collapser::after {
	cursor: pointer;
}

.status {
	position: fixed;
	left: 0;
	bottom: 0;
	border-color: #c2c2c2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	border-top-right-radius: 4px;
	height: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 7px;
	padding-left: 4px;
	font-family: sans-serif;
	font-size: 12px;
	opacity: 0;
	background-color: #d2d2f6;
	color: #696969;
	transition: opacity .2s ease-out;
	user-select: none;
}

.status:not(:empty) {
	opacity: 1;
}

.toolbox {
	padding-right: 3px;
	font-family: sans-serif;
	font-size: 15px;
	opacity: .25;
	background-color: #d2d2f6;
	position: fixed;
	right: 0px;
	top: 0px;
	border-color: #c2c2c2;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-bottom-left-radius: 4px;
	padding-bottom: 3px;
	transition: opacity .2s ease-out;
	cursor: default;
	user-select: none;
	padding-left: 2px;
}

.toolbox:hover {
	opacity: 1;
}

.toolbox>* {
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	min-width: 14px;
	text-align: center;
}

.toolbox>a {
	font-size: 13px;
}

@media (prefers-color-scheme: dark) {
	.toolbox {
		background-color: #484848;
		border-color: #242424;
	}

	.status {
		background-color: #484848;
		border-color: #242424;
		color: lightgrey;
	}
}