body {
	font-size: 13px;
}

form {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
	border-width: 0px;
}

section {
	display: flex;
	margin-top: 10px;
	align-items: center;
}

label {
	flex-grow: 1;
	user-select: none;
}

legend {
	font-size: 15px;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

button {
	max-height: 21px;
}

.icon {
	width: 20px;
	padding-right: 5px;
	vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #292a2d;
		color: lightgrey;
	}
}