body {
	white-space: pre;
	font-family: monospace;
}

.prop {
	font-weight: bold;
}

.null {
	color: red;
}

.bool {
	color: blue;
}

.num {
	color: blue;
}

.string {
	color: green;
}

.collapser {
	position: absolute;
	top: 0em;
	left: -1em;
	cursor: pointer;
	-webkit-user-select:	ignore;
}

li {
	position: relative;
}

li:after {
	content: ',';
}

li:last-of-type:after {
	content: '';
}

.fn {
	color: gray;
}

ul {
	list-style: none;
	margin: 0 0 0 2em;
	padding: 0;
}

h1 {
	font-size: 1.2em;
}
