body {
	background-color: #EEE;
	font-size: 10pt;
}

body>div {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	background-color: white;
	font-family: sans-serif;
	margin-bottom: 10px;
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: justify;
	-webkit-box-shadow: #888 2px 2px 2px;
}

h2 {
	padding-left: .1em;
	padding-top: 1em;
	padding-bottom: .1em;
}

#previewer {
	width: 420px;
	height: 315px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
}

#editor,.CodeMirror {
	width: 500px;
	height: 590px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
}

.CodeMirror .CodeMirror-scroll {
	height: 100%;
}

.panel {
	height: 620px;
	vertical-align: top;
	display: inline-block;
	margin: 5px;
	position: relative;
}

.panel-label {
	height: 20px;
}

.buttons {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.buttons button {
	background-color: #F3F3F3;
	-webkit-border-radius: 3px;	
}


::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 7px
}

::-webkit-scrollbar-track:horizontal {
	border-width: 7px 0 0
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(0, 0, 0, .05);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:active {
	background-color: rgba(0, 0, 0, .05);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 7px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 7px 0 0;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
}

::-webkit-scrollbar-corner {
	background: transparent
}

body::-webkit-scrollbar-track-piece {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 0 0 0 3px;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

body::-webkit-scrollbar-track-piece:horizontal {
	border-width: 3px 0 0;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

body::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 5px
}

body::-webkit-scrollbar-thumb:horizontal {
	border-width: 5px 1px 1px
}

body::-webkit-scrollbar-corner {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 3px 0 0 3px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14)
}